<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ld.blog.infra.mapper.SysUserRoleMapper">
    <resultMap id="BaseResultMap" type="com.ld.blog.domain.entity.SysUserRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sys_user_id" jdbcType="BIGINT" property="sysUserId"/>
        <result column="sys_role_id" jdbcType="BIGINT" property="sysRoleId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, sys_user_id, sys_role_id
    </sql>
</mapper>
